:root {
    --DEFAULT-KEY-HEIGHT: 75px;
    --DEFAULT-KEY-WIDTH: 75px;
}

.typewriter-key {
    height: var(--DEFAULT-KEY-HEIGHT);
    width: var(--DEFAULT-KEY-WIDTH);
}

.typewriter-dot-key {
    height: var(--DEFAULT-KEY-HEIGHT);
    width: var(--DEFAULT-KEY-WIDTH);
}

.typewriter-backspace-key {
    height: var(--DEFAULT-KEY-HEIGHT);
    width: var(--DEFAULT-KEY-WIDTH);
}

.typewriter-enter-key {
    height: var(--DEFAULT-KEY-HEIGHT);
    width: var(--DEFAULT-KEY-WIDTH);
}

.typewriter-space-key {
    height: var(--DEFAULT-KEY-HEIGHT);
    width: 145px;
}

.typewriter-pressed-key {
    background-color: red;
}